vaadin-grid::part(young-contacts-row) {
    background: rgb(231, 255, 244);
}


vaadin-grid::part(old-contacts-row) {
    background: rgb(255, 230, 242);
}

vaadin-grid::part(very-young-contacts-cell) {
    font-weight: bold;
}